.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background-color: #0055a5; // Hellere Blau-Farbe
  color: white;

  mat-toolbar.menu-toolbar {
    color: white;
    font-weight: bold;
    font-size: 1.5rem; // Gleiche Schriftgröße wie "Menu"
  }

  mat-nav-list {
    a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem; // Gleiche Schriftgröße wie "Menu"
      font-weight: bold;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2); // Hover-Effekt
      }
    }

    .spacer {
      flex: 1;
    }

    .language-selector {
      display: flex;
      justify-content: center;
      padding: 1rem 0;

      button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;

        &.active {
          font-weight: bold;
          text-decoration: underline;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

.mat-toolbar {
  background-color: #004080; // Dunkleres Blau für Toolbar
  color: white;

  .spacer {
    flex: 1;
  }
}
