<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav
    #drawer
    mode="side"
    class="sidenav"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/overview"
        routerLinkActive="router-link-active"
      >
        Overview
      </a>
      <ng-container
        *ngIf="authService.isAuthenticated | async; else notAuthenticated"
      >
        <a
          mat-list-item
          routerLink="/add-blog"
          routerLinkActive="router-link-active"
        >
          Add Blog
        </a>
        <a
          mat-list-item
          (click)="logout()"
          (keyup.enter)="logout()"
          tabindex="0"
          >Logout</a
        >
      </ng-container>
      <ng-template #notAuthenticated>
        <a mat-list-item (click)="login()" (keyup.enter)="login()" tabindex="0"
          >Login</a
        >
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Hauptinhalt -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Blog-App</span>
      <span class="spacer"></span>
      <span *ngIf="authService.isAuthenticated | async" class="user-name">
        Angemeldet als: {{ authService.userName$ | async }}
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
