<div class="blog-overview-container">
  <!-- Spinner anzeigen, solange isLoadingDetail = true -->
  <div class="spinner-container" *ngIf="isLoadingDetail">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="50"
    ></mat-progress-spinner>
    <p>{{ "BLOG_DETAIL_PAGE.LOADING" | translate }}</p>
  </div>

  <!-- Fehlerzustand -->
  <div *ngIf="errorDetail as e">
    <p class="error">{{ e }}</p>
  </div>

  <!-- Wenn Blog existiert -->
  <div class="blog-container" *ngIf="blog as b">
    <div class="blog-header">
      <h1 class="blog-title">{{ b.title }}</h1>
      <p class="blog-meta">
        {{ "BLOG_DETAIL_PAGE.BY" | translate }}
        <strong>{{ b.author }}</strong> |
        {{ "BLOG_DETAIL_PAGE.WRITTEN" | translate }}: {{ b.createdAt }} |
        {{ "BLOG_DETAIL_PAGE.LAST_UPDATED" | translate }}: {{ b.updatedAt }}
      </p>
    </div>

    <div class="blog-content">
      <p>{{ b.content }}</p>
    </div>

    <div class="blog-footer">
      <div class="likes-comments">
        <div class="icon-item">
          <mat-icon>thumb_up</mat-icon>
          <span>{{ b.likes }}</span>
        </div>
      </div>
    </div>

    <div class="blog-comments">
      <h2
        (click)="toggleComments()"
        (keydown.enter)="toggleComments()"
        tabindex="0"
        class="comments-header"
        [class.collapsed]="!showComments()"
      >
        {{ "BLOG_DETAIL_PAGE.COMMENTS" | translate }} ({{
          selectedComments().length
        }})
      </h2>

      <!-- Nur anzeigen, wenn showComments() true ist -->
      <div *ngIf="showComments()">
        <div *ngIf="selectedComments().length > 0; else noComments">
          <div
            class="comment"
            *ngFor="let comment of selectedComments(); trackBy: trackComment"
          >
            <p>
              <strong
                >{{ comment.author }}
                {{ "BLOG_DETAIL_PAGE.SAYS" | translate }}:</strong
              >
            </p>
            <p>{{ comment.content }}</p>
            <p>
              <small
                ><strong
                  >{{ "BLOG_DETAIL_PAGE.CREATED_AT" | translate }}:</strong
                >
                {{ comment.createdAt }}</small
              >
            </p>
            <p>
              <small
                ><strong
                  >{{ "BLOG_DETAIL_PAGE.UPDATED_AT" | translate }}:</strong
                >
                {{ comment.updatedAt }}</small
              >
            </p>
          </div>
        </div>
        <ng-template #noComments>
          <p>{{ "BLOG_DETAIL_PAGE.NO_COMMENTS" | translate }}</p>
        </ng-template>
      </div>
    </div>

    <div class="back-to-overview">
      <a routerLink="/overview" class="overview-button">
        ← {{ "BLOG_DETAIL_PAGE.BACK_TO_BLOGS" | translate }}
      </a>
    </div>
  </div>
</div>
