<header>
  <h1>Blog-App</h1>
  <nav>
    <!-- Login Button -->
    <button *ngIf="!isAuthenticated" (click)="login()">Login</button>

    <!-- Logout Button mit Benutzername -->
    <button *ngIf="isAuthenticated" (click)="logout()">
      Logout ({{ userName }})
    </button>

    <!-- Create Blog Button -->
    <!-- <button  -->
    <!--   routerLink="/add-blog"  -->
    <!--   mat-raised-button  -->
    <!--   color="primary"> -->
    <!--   Neuen Blog erstellen -->
    <!-- </button> -->

    <!-- <button routerLink="/add-blog" mat-button>Neuen Blog erstellen</button> -->

    <button (click)="addBlog()">Add Blog</button>
  </nav>
</header>
