:host {
  .blog-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .load-more-button {
      padding: 10px 20px;
      font-size: 1rem;
      background-color: #4caf50; /* Grüner Button */
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #45a049;
      }
    }
  }

  @media screen and (min-width: 450px) {
    .blog-container {
      width: 400px;
    }
  }

  @media screen and (min-width: 841px) {
    .blog-container {
      width: 840px;
    }
  }

  @media screen and (min-width: 1261px) {
    .blog-container {
      width: 1260px;
    }
  }

  @media screen and (min-width: 1681px) {
    .blog-container {
      width: 1680px;
    }
  }
}
