<div class="login-container">
  <nav>
    <button class="nav-button" (click)="navigateToBlogs()">
      Zurück zu Blogs
    </button>
  </nav>
  <div class="login-form">
    <h2>Anmelden</h2>
    <form (ngSubmit)="login()">
      <label for="username">Benutzername</label>
      <input
        id="username"
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="Benutzername eingeben"
        required
      />
      <label for="password">Passwort</label>
      <input
        id="password"
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Passwort eingeben"
        required
      />
      <button type="submit" class="submit-button">Anmelden</button>
    </form>
    <p *ngIf="loginError" class="error">{{ loginError }}</p>
    <p>
      Noch keinen Account?
      <button class="link" (click)="navigateToRegister()">
        Hier registrieren
      </button>
    </p>
  </div>
</div>
